<div class="flex items-center">
  <finance-asset-types [currentAssetType]="currentAssetType" class="flex items-center justify-start gap-3 w-5/6"></finance-asset-types>

  <div class="flex items-center justify-center w-1/6">
    <button (click)="showModal()" class="p-2 bg-blue-400">Filters</button>
  </div>

</div>

<table class="w-full mt-5">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Price</th>
      <th>Change %</th>
      <th>Market cap</th>
      <th>Circulating Supply</th>
    </tr>
  </thead>
  <tbody class="text-center">

    <ng-container *ngIf="financeAssets.length > 0; else lazyLoader">
      <finance-general-asset-card role="row" class="table-row" *ngFor="let asset of assetsShownPerPage"
        [asset]="asset"></finance-general-asset-card>
    </ng-container>

    <ng-template #lazyLoader>
      <shared-lazy-loader></shared-lazy-loader>
    </ng-template>

  </tbody>
</table>
<shared-pagination [financeAssets]="financeAssets" [currentPage]="currentPage"></shared-pagination>


<auth-logout></auth-logout>
<finance-asset-filter [financeAssets]="financeAssets"></finance-asset-filter>

