


<table class="w-full">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Change %</th>
      <th>Market cap</th>
      <th>Circulating Supply</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <tr>
      <td>Apple Inc.</td>
      <td>210.62</td>
      <td>-1.6254%</td>
      <td>3229668142000</td><!--tendra q poner 3.23 T USD, hacerlo con un pipe creo, usar pipe de number verlos-->
      <td>15334100000</td><!--15.334.082.000-->
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
