<form
  class="flex flex-col border border-black p-8 gap-5 w-96"
  [formGroup]="forgotForm"
  (ngSubmit)="resetPassword()"
>

  <p class="text-3xl font-bold mb-2 text-center">Reset Password</p>
  <p class="text-xl font-semibold mb-3 text-center">Please enter your email address to request a password reset.</p>


  <input class="p-2 border border-black w-full" type="email" formControlName="email" placeholder="Email*">
  <span *ngIf="isRequiredField('email')" class="text-red-600">
    This field is required
  </span>


  <button
    [disabled]="forgotForm.invalid"
    [ngClass]="{
      'bg-slate-500' : forgotForm.invalid,
      'bg-cyan-500' : forgotForm.valid,
    }"
    class="border border-black w-full p-3"
    type="submit"
  >
    Reset password
  </button>

  <div class="text-center">
    <a routerLink="/auth/login" class="">
      Cancel
    </a>
  </div>

</form>
