<form
  class="flex flex-col border border-black p-8 gap-5 w-96"
  [formGroup]="loginForm"
  (ngSubmit)="loginUser()"
>

  <p class="text-3xl font-bold mb-3 text-center">Login</p>

  <input class="p-2 border border-black w-full" type="email" formControlName="email" placeholder="Email*">
  <span *ngIf="isRequiredField('email')" class="text-red-600">
    This field is required
  </span>



  <div class="flex items-center">
    <input class="p-2 border border-black w-full" [type]="typeInput" formControlName="password" placeholder="Password*" (focus)="fbErrorMessage = ''">
    <i
      (click)="showPassword()"
      [ngClass]="backgroundImageClass"
      class="w-8 h-8 block bg-cover cursor-pointer"
    ></i>
  </div>
  <span *ngIf="isRequiredField('password')" class="text-red-600">
    This field is required
  </span>

  <div *ngIf="fbErrorMessage" class="text-red-600">
    {{ fbErrorMessage }}
  </div>

  <div class="text-blue-600">
    <a routerLink="/auth/forgot-password" class="">
      Forgot your password?
    </a>
  </div>

  <button
    [disabled]="loginForm.invalid || isButtonClicked"
    [ngClass]="{
      'bg-slate-500' : loginForm.invalid || isButtonClicked,
      'bg-cyan-500' : loginForm.valid,
    }"
    class="border border-black w-full p-3 min-h-[50px]"
    type="submit"
  >
    <span *ngIf="!isButtonClicked; else lazyLoader">Sign in</span>
    <ng-template #lazyLoader>
      <shared-lazy-loader></shared-lazy-loader>
    </ng-template>
  </button>

  <div class="">
    <span class="">
      Do not have an account?
    </span>

    <a routerLink="/auth/register" class="">
      Sign up
    </a>
  </div>

</form>
